<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>DOCX à HTML</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <!-- Meta data -->
      <meta name="description" content="Convertisseur DOCX à HTML - Expérimental">
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-fr.js"></script>
      <noscript>
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/refTop.html -->
         <!--[if gte IE 9 | !IE ]><!-->
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="icon" type="image/x-icon">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/theme.min.css">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsfixes.css">
         <!-- Are you using the application templates? If so add the following CSS file -->
         <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsapps.css">-->
         <!--<![endif]-->
         <!--[if lt IE 9]>
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="shortcut icon" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/ie8-theme.min.css" />
         <![endif]-->
         <!--[if lte IE 9]><![endif]-->
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/noscript.min.css" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsnoscript.css" />
      </noscript>
      <!-- Write closure template -->
      <script>
         document.write(wet.builder.refTop({

         	"isApplication": true
         }));
      </script>
      <style>
         .beta-top, .alpha-top {
         padding-top: 2px !important;
         padding-bottom: 2px !important;
         top: 0px;
         background-color: #f2f2f2;
         z-index: 100;
         }
      </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">
      <section class="experimental alpha-top">
         <h2 class="wb-inv">Alpha</h2>
         <div class="container">
            <small><label class="alpha-label">Alpha</label>&nbsp;&nbsp;
            Ceci est une version expérimentale de Canada.ca destinée à être testée par le public.</small>
         </div>
      </section>
      <div id="def-top">
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/appTop-fr.html -->
         <ul id="wb-tphp">
            <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
            <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de cette application Web&#160;»</a></li>
            <!-- Si vous avez un pied de page personnalisé, veuillez remplacer la ligne précédente par celle-ci
               <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;Liens connexes&#160;»</a></li>
               -->
            <!-- Si vous avez un menu de section
               <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Passer au menu de la section</a></li>
               -->
         </ul>
         <header class="gc-app">
            <div id="wb-bnr" class="container">
               <!-- Adjust the default language flip URL or remove this <section>
                  <section id="wb-lng" class="text-right">
                  	<h2 class="wb-inv">Sélection de la langue</h2>
                  	<ul class="list-inline margin-bottom-none">
                  		<li><a lang="en" href="[Default URL for language flip]">English</a></li>
                  	</ul>
                  </section>
                  -->
               <div class="row">
                  <div class="brand col-xs-5 col-md-4">
                     <a href="https://www.canada.ca/en.html">
                     <img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-fr.svg" alt="" />
                     <span class="wb-inv"> Gouvernement du Canada / <span lang="en">Government of Canada</span></span>
                     </a>
                  </div>
                  <!-- Adjust this search section depending on your application search
                     <section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
                     	<h2>Recherche</h2>
                     	<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                     		<div class="form-group">
                     			<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
                     			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Recherche">
                     		</div>
                     		<div class="form-group submit">
                     			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
                     		</div>
                     	</form>
                     </section>
                     -->
               </div>
            </div>
            <div class="app-bar">
               <div class="container">
                  <div class="row">
                     <!-- If you want to use the settings or sign in/out buttons then add col-sm-7 -->
                     <section class="col-xs-12">
                        <!-- Entrez le nom et URL de votre application ci-bas -->
                        <h2 class="wb-inv">DOCX à HTML</h2>
                        <a class="app-name" href="#">DOCX à HTML</a>
                     </section>
                     <!-- Si vous utilisez le bouton de connexion/déconnexion ou les paramètres du compte
                        <nav class="col-sm-5 hidden-xs hidden-print">
                        	<h2 class="wb-inv">Menu des paramètres du compte</h2>
                        	<ul class="app-list-account list-unstyled">
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Paramètres du compte</a></li>&#32;
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Fermer la session</a></li>
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Ouvrir une session</a></li>
                        	</ul>
                        </nav>
                        -->
                  </div>
               </div>
            </div>
            <!-- Remove the whole <nav> if you want to disable breadcrumbs
               <nav id="wb-bc" property="breadcrumb">
               	<h2>Vous êtes ici :</h2>
               	<div class="container">
               		<div class="row">
               			<ol class="breadcrumb">
               				<li><a href="#">[Insérer votre fil d'Ariane ici]</a></li>
               			</ol>
               		</div>
               	</div>
               </nav>
               -->
         </header>
      </div>
      <!-- Write closure template -->
      <script>
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.appTop({

         	"appName": [{"text": "DOCX à HTML", "href": "#"}],
         	"lngLinks": [{"lang": "en",	"href": "#", "text": "English"}]
         });
      </script>

      <script>
          function CopyToClipboard(id)
          {
          var r = document.createRange();
          r.selectNode(document.getElementById(id));
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(r);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          }
          </script>
      <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">

         <h1>DOCX à HTML</h1>
         <script>
            let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
            let toggleURL = window.location + "";
            if (document.documentElement.lang === 'en') {
                toggleURL = toggleURL.replace("&lang=en", "");
                toggleURL += "?&lang=fr";
            } else {
                toggleURL = toggleURL.replace("&lang=fr", "");
                toggleURL += "?&lang=en";
            }
            langElem.setAttribute("href", toggleURL);
         </script>

         <div class="container">

           <section class="well well-sm brdr-0 mrgn-bttm-0">

<h2>Code pour le prototype</h2>
           <details>
 <summary>Code pour la page complète</summary>
 <button class="btn btn-default" onclick="CopyToClipboard('myCode');return false;">Copier le code dans le presse-papiers</button>
 <pre class="prettyprint">
   <code id="myCode">{{html_page}}
</code></pre></details>

<details>
<summary>Code pour AEM</summary>
<button class="btn btn-default" onclick="CopyToClipboard('myAEMCode');return false;">Copier le code dans le presse-papiers</button>
<pre class="prettyprint">
<code id="myAEMCode">{{aem_page}}
</code></pre></details>


<details>
<summary>Score de lisibilité (expérimental)</summary>
				 <div class="panel panel-default">
					 <div class="panel-body">
						 <p class="big-font"><strong>{{ total_score }}/100</strong> </p>
						 <p>{{ score }}</p>
						</div>
					</div>
         <details>
            <summary>Signification du score</summary>
            <ul>
               <li><strong>90 points ou plus :</strong> Excellent! </li>
               <li><strong>Entre 80 et 90 points :</strong> Très bien!</li>
               <li><strong>Entre 70 et 80 points :</strong> Pas mal</li>
               <li><strong>Entre 60 et 70 points :</strong> À travailler</li>
               <li><strong>Entre 50 et 60 points : </strong> Besoin de beaucoup de travail</li>
               <li><strong>Moins de 50 points :</strong> S'il vous plaît, il faut faire quelque chose...</li>
            </ul>
         </details>
         <h2>Détails du score total</h2>
         <h3>Points de lisibilité</h3>
         <p><strong>{{ fkpoints }}/60 </strong></p>
         <p>Score de lisibilité Flesch-Kincaid ajusté : {{ final_fk_score }}</p>
         <details>
            <summary>Calcul des points de lisibilité</summary>
            <p><strong>Le score Flesch-Kincaid de base</strong> utilise 2 variables pour obtenir une note:
            <p>
            <ul>
               <li>la longueur moyenne des phrases</li>
               <li>le nombre moyen de syllabes par mot</li>
            </ul>
            <p>Ce calcul ne gère pas très bien les en-têtes et les listes à puces. S'il n'y a pas de point à la fin d'une en-tête ou d'une puce, il considère qu'il s'agit toujours de la même phrase.</p>
            <p>Le <strong>Score de lisibilité Flesch-Kincaid ajusté</strong> considère chaque en-tête et chaque élément d'une liste à puce comme des phrases distinctes.</p>
            <p>Les points sont attribués en utilisant ce calcul : </p>
            <ul>
               <li><strong>Niveau 6 ou inférieur</strong>: 60/60</li>
               <li><strong>Niveau 18 ou supérieur</strong>: 0/60</li>
               <li><strong>Entre le niveau 6 et le niveau 18</strong>: le nombre de points diminue à mesure que le niveau augmente.</li>
            </ul>
         </details>
         <h3>Points pour les en-têtes</h3>
         <p><strong>{{ hpoints }}/20</strong></p>
         <p>Mots par en-tête : {{ hratio }}</p>
         <details>
            <summary>Calcul des points pour les en-têtes</summary>
            <p>Puisque c'est généralement une bonne idée d'ajouter des en-têtes, les points sont attribués en se basant sur le nombre de mots moyen entre chaque en-tête.</p>
            <p>Le nombre total de mots est divisé par le nombre d'en-têtes individuels (h1, h2, h3, h4, etc.)</p>
            <p>Les points sont attribués en utilisant ce calcul : </p>
            <ul>
               <li><strong>40 mots par en-tête ou moins :</strong> 20/20</li>
               <li><strong>200 mots par en-tête ou plus :</strong> 0/20</li>
               <li><strong>Entre 40 et 200 mots par en-tête : </strong> le nombre de points diminue à mesure que le nombre de mots par en-tête augmente.</li>
            </ul>
         </details>
         <h3>Points pour les paragraphes</h3>
         <p><strong>{{ ppoints }}/20</strong></p>
         <p>Mots par paragraphe : {{ pratio }}</p>
         <details>
            <summary>Calcul des points pour les paragraphes</summary>
            <p>Puisque c'est généralement une bonne idée d'utiliser des paragrahes et d'éviter les murs de mots, les points sont attribués en se basant sur le nombre de mots moyen par paragraphe.</p>
            <p>Le nombre total de mots est divisé par le nombre de paragraphes. </p>
            <p>Les points sont attribués en utilisant ce calcul : </p>
            <ul>
               <li><strong>30 mots par paragraphe ou moins :</strong> 20/20</li>
               <li><strong>80 mots par paragraphe ou plus :</strong> 0/20</li>
               <li><strong>Entre 30 et 80 mots par paragraphe :</strong>  le nombre de points diminue à mesure que le nombre de mots par paragraphe augmente.</li>
            </ul>
         </details>
         <h2>Statistiques</h2>
         <ul>
            <li><strong>Mots :</strong> {{ total_words }}</li>
            <li><strong>Paragraphes :</strong> {{ len_par }} </li>
            <li><strong>En-têtes :</strong> {{ len_headings }} </li>
            <li><strong>Score Flesch-Kincaid original:</strong> {{ original_score }} (ceci est le score sans considérer les en-têtes et les éléments d'une liste comme des phrases séparées)</li>
         </ul>
				 <h2>Améliorer la lisibilité Web</h2>
         <p>Pour améliorer la lisibilité Web, suivez les meilleures pratiques en matière d'écriture pour le web, telles que: </p>
				 <ul>
            <li>utilisez des mots simples</li>
            <li>écrivez des phrases courtes et des paragraphes courts</li>
            <li>utilisez des sous-titres et des listes pour aider les gens à survoler la page</li>
         </ul>
				 <p><a href='https://www.canada.ca/fr/secretariat-conseil-tresor/services/communications-gouvernementales/guide-redaction-contenu-canada.html'>Suivez le Guide de rédaction du contenu du site Canada.ca</a></p>

         <h2>Comment utiliser cet outil</h2>
         <p><strong>Il s'agit d'un outil expérimental.</strong>. Ne l'utilisez pas comme une mesure précise de la lisibilité ou pour évaluer la conformité à un indicateur de performance.</p>
         <p>Il est conçu pour donner une idée générale de la lisibilité d'une page sur le web. Un bon score ne garantit pas que la page soit conviviale ou utile.</p>
         <p>Cet outil utilise le texte qui figure dans la balise <code>main</code> de la page HTML. Ceci peut inclure du texte qui n'est pas visible pour les gens. L'outil exclut le texte qui se trouve dans un tableau pour les besoins du calcul.</p>
         <p>Voir le code et la méthodologie sur GitHub:</p>
         <a href='https://github.com/alpha-canada-ca/lisibilite-web-readability'>https://github.com/alpha-canada-ca/lisibilite-web-readability</a>
       </details>
</section>

<a type="button" class="btn btn-default mrgn-tp-md" href="https://doc-to-html.herokuapp.com/?&lang=fr">Téléverser un autre document</a>

<h2>Prototype de la page</h2>

{{html_page|safe}}
 </div>
