<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>From DOCX to HTML</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <!-- Meta data -->
      <meta name="description" content="Experimental web readability score">
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <noscript>
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/refTop.html -->
         <!--[if gte IE 9 | !IE ]><!-->
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="icon" type="image/x-icon">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/theme.min.css">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsfixes.css">
         <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
         <!-- Are you using the application templates? If so add the following CSS file -->
         <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsapps.css">-->
         <!--<![endif]-->
         <!--[if lt IE 9]>
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="shortcut icon" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/ie8-theme.min.css" />
         <![endif]-->
         <!--[if lte IE 9]><![endif]-->
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/noscript.min.css" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsnoscript.css" />
      </noscript>
      <script>
         document.write(wet.builder.refTop({

         	"isApplication": true
         }));
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <style>
         .beta-top, .alpha-top {
         padding-top: 2px !important;
         padding-bottom: 2px !important;
         top: 0px;
         background-color: #f2f2f2;
         z-index: 100;
         }
      </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">

      <div id="def-top">
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/appTop-en.html -->
         <ul id="wb-tphp">
            <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Skip to main content</a></li>
            <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "About this Web application"</a></li>
            <!-- If you have a custom footer, replace the previous line with this one
               <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Skip to "Related links"</a></li>
               -->
            <!-- If you have a section menu
               <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Skip to section menu</a></li>
               -->
         </ul>
         <header class="gc-app">
            <div id="wb-bnr" class="container">
               <!-- Adjust the default language flip URL or remove this <section>
                  <section id="wb-lng" class="text-right">
                  	<h2 class="wb-inv">Language selection</h2>
                  	<ul class="list-inline margin-bottom-none">
                  		<li><a lang="fr" href="[Default URL for language flip]">Français</a></li>
                  	</ul>
                  </section>
                  	-->
               <div class="row">
                  <div class="brand col-xs-5 col-md-4">
                     <a href="https://www.canada.ca/en.html">
                     <img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-en.svg" alt="" />
                     <span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
                     </a>
                  </div>
                  <!-- Adjust this search section depending on your application search
                     <section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
                     	<h2>Search</h2>
                     	<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                     		<div class="form-group">
                     			<label for="wb-srch-q" class="wb-inv">Search Canada.ca</label>
                     			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Search">
                     		</div>
                     		<div class="form-group submit">
                     			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                     		</div>
                     	</form>
                     </section>
                     -->
               </div>
            </div>
            <div class="app-bar">
               <div class="container">
                  <div class="row">
                     <!-- If you want to use the settings or sign in/out buttons then add col-sm-7 -->
                     <section class="col-xs-12">
                        <!-- Add in your application name and URL below -->
                        <h2 class="wb-inv">From DOCX to HTML</h2>
                        <a class="app-name" href=#>From DOCX to HTML</a>
                     </section>
                     <!-- If you want to use the settings or sign in/out buttons
                        <nav class="col-sm-5 hidden-xs hidden-print">
                        	<h2 class="wb-inv">Account menu</h2>
                        	<ul class="app-list-account list-unstyled">
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Account settings</a></li>&#32;
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a></li>
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign in</a></li>
                        	</ul>
                        </nav>
                        -->
                  </div>
               </div>
            </div>
            <!-- Remove the whole <nav> if you want to disable breadcrumbs
               <nav id="wb-bc" property="breadcrumb">
               	<h2>You are here:</h2>
               	<div class="container">
               		<div class="row">
               			<ol class="breadcrumb">
               				<li><a href="#">[Insert breadcrumbs]</a></li>
               			</ol>
               		</div>
               	</div>
               </nav>
               -->
         </header>
      </div>
      <!-- Write closure template -->
      <script>
			document.write(wet.builder.refTop({
				"isApplication": true
			}));
		</script>
      <script>
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.appTop({

         	"appName": [{"text": "Convert DOCX to HTML", "href": "/"}],
         	"lngLinks": [{"lang": "fr",	"href": "#", "text": "Français"}]
         });
      </script>
      <script>
        function CopyToClipboard(id)
        {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
        }
        </script>
      <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">

        <h1>Converted DOCX</h1>
        <script>
           let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
           let toggleURL = window.location + "";
           if (document.documentElement.lang === 'en') {
               toggleURL = toggleURL.replace("&lang=en", "");
               toggleURL += "?&lang=fr";
           } else {
               toggleURL = toggleURL.replace("&lang=fr", "");
               toggleURL += "?&lang=en";
           }
           langElem.setAttribute("href", toggleURL);
        </script>

        <div class="container">

          <section class="well well-sm brdr-0 mrgn-bttm-0">

                <h2>Code for prototype</h2>
                          <details>
                <summary>Code for full page</summary>
                <button class="btn btn-default" onclick="CopyToClipboard('myCode');return false;">Copy code to clipboard</button>
                <pre class="prettyprint">
                  <code id="myCode">{{html_page}}
                </code></pre></details>

                <details>
                <summary>Code for AEM</summary>
                <button class="btn btn-default" onclick="CopyToClipboard('myAEMCode');return false;">Copy code to clipboard</button>
                <pre class="prettyprint">
                <code id="myAEMCode">{{aem_page}}
                </code></pre></details>

                </section>
                <h2>Prototyped page</h2>

                {% include 'page.html' %}
                </div>

 </div>
