<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>DOCX à HTML</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <!-- Meta data -->
      <meta name="description" content="La Boîte à outils de l’expérience Web (BOEW) rassemble différents composants réutilisables et prêts-à-utiliser pour la conception et la mise à jour de sites Web innovateurs qui sont à la fois accessibles, conviviaux et interopérables. Tous ces composants réutilisables sont des logiciels libres mis à la disposition des ministères et des collectivités Web externes.">
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-fr.js"></script>
      <noscript>
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/refTop.html -->
         <!--[if gte IE 9 | !IE ]><!-->
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="icon" type="image/x-icon">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/theme.min.css">
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsfixes.css">
         <!-- Are you using the application templates? If so add the following CSS file -->
         <!-- <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsapps.css">-->
         <!--<![endif]-->
         <!--[if lt IE 9]>
         <link href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/favicon.ico" rel="shortcut icon" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/ie8-theme.min.css" />
         <![endif]-->
         <!--[if lte IE 9]><![endif]-->
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/css/noscript.min.css" />
         <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/cdtsnoscript.css" />
      </noscript>
      <!-- Write closure template -->
      <script>
         document.write(wet.builder.refTop({

         	"isApplication": true
         }));
      </script>
      <style>
         .beta-top, .alpha-top {
         padding-top: 2px !important;
         padding-bottom: 2px !important;
         top: 0px;
         background-color: #f2f2f2;
         z-index: 100;
         }
      </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">
      <section class="experimental alpha-top">
         <h2 class="wb-inv">Alpha</h2>
         <div class="container">
            <small><label class="alpha-label">Alpha</label>&nbsp;&nbsp;
            Ceci est une version expérimentale de Canada.ca destinée à être testée par le public.</small>
         </div>
      </section>
      <div id="def-top">
         <!-- Write closure fall-back static file -->
         <!-- /ROOT/app/cls/WET/gcweb/v4_0_30/cdts/static/appTop-fr.html -->
         <ul id="wb-tphp">
            <li class="wb-slc"><a class="wb-sl" href="#wb-cont">Passer au contenu principal</a></li>
            <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;À propos de cette application Web&#160;»</a></li>
            <!-- Si vous avez un pied de page personnalisé, veuillez remplacer la ligne précédente par celle-ci
               <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">Passer à «&#160;Liens connexes&#160;»</a></li>
               -->
            <!-- Si vous avez un menu de section
               <li class="wb-slc visible-md visible-lg"><a class="wb-sl" href="#wb-sec">Passer au menu de la section</a></li>
               -->
         </ul>
         <header class="gc-app">
            <div id="wb-bnr" class="container">
               <!-- Adjust the default language flip URL or remove this <section>
                  <section id="wb-lng" class="text-right">
                  	<h2 class="wb-inv">Sélection de la langue</h2>
                  	<ul class="list-inline margin-bottom-none">
                  		<li><a lang="en" href="[Default URL for language flip]">English</a></li>
                  	</ul>
                  </section>
                  -->
               <div class="row">
                  <div class="brand col-xs-5 col-md-4">
                     <a href="https://www.canada.ca/en.html">
                     <img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-fr.svg" alt="" />
                     <span class="wb-inv"> Gouvernement du Canada / <span lang="en">Government of Canada</span></span>
                     </a>
                  </div>
                  <!-- Adjust this search section depending on your application search
                     <section id="wb-srch" class="col-lg-8 text-right visible-md visible-lg">
                     	<h2>Recherche</h2>
                     	<form action="#" method="post" name="cse-search-box" role="search" class="form-inline">
                     		<div class="form-group">
                     			<label for="wb-srch-q" class="wb-inv">Rechercher dans Canada.ca</label>
                     			<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="Recherche">
                     		</div>
                     		<div class="form-group submit">
                     			<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Recherche</span></button>
                     		</div>
                     	</form>
                     </section>
                     -->
               </div>
            </div>
            <div class="app-bar">
               <div class="container">
                  <div class="row">
                     <!-- If you want to use the settings or sign in/out buttons then add col-sm-7 -->
                     <section class="col-xs-12">
                        <!-- Entrez le nom et URL de votre application ci-bas -->
                        <h2 class="wb-inv">DOCX à HTML</h2>
                        <a class="app-name" href="#">DOCX à HTML</a>
                     </section>
                     <!-- Si vous utilisez le bouton de connexion/déconnexion ou les paramètres du compte
                        <nav class="col-sm-5 hidden-xs hidden-print">
                        	<h2 class="wb-inv">Menu des paramètres du compte</h2>
                        	<ul class="app-list-account list-unstyled">
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Paramètres du compte</a></li>&#32;
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Fermer la session</a></li>
                        		<li><a href="#" class="btn"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Ouvrir une session</a></li>
                        	</ul>
                        </nav>
                        -->
                  </div>
               </div>
            </div>
            <!-- Remove the whole <nav> if you want to disable breadcrumbs
               <nav id="wb-bc" property="breadcrumb">
               	<h2>Vous êtes ici :</h2>
               	<div class="container">
               		<div class="row">
               			<ol class="breadcrumb">
               				<li><a href="#">[Insérer votre fil d'Ariane ici]</a></li>
               			</ol>
               		</div>
               	</div>
               </nav>
               -->
         </header>
      </div>
      <!-- Write closure template -->
      <script>
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.appTop({

         	"appName": [{"text": "DOCX à HTML", "href": "#"}],
         	"lngLinks": [{"lang": "en",	"href": "#", "text": "English"}]
         });
      </script>

      <script>
          function CopyToClipboard(id)
          {
          var r = document.createRange();
          r.selectNode(document.getElementById(id));
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(r);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          }
          </script>
      <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">

         <h1>DOCX à HTML</h1>
         <script>
            let langElem = document.getElementById("wb-lng").getElementsByTagName("a")[0];
            let toggleURL = window.location + "";
            if (document.documentElement.lang === 'en') {
                toggleURL = toggleURL.replace("&lang=en", "");
                toggleURL += "?&lang=fr";
            } else {
                toggleURL = toggleURL.replace("&lang=fr", "");
                toggleURL += "?&lang=en";
            }
            langElem.setAttribute("href", toggleURL);
         </script>

         <div class="container">

           <section class="well well-sm brdr-0 mrgn-bttm-0">

<h2>Code pour le prototype</h2>
           <details>
 <summary>Code pour la page complète</summary>
 <button class="btn btn-default" onclick="CopyToClipboard('myCode');return false;">Copier le code dans le presse-papiers</button>
 <pre class="prettyprint">
   <code id="myCode">{{html_page}}
</code></pre></details>

<details>
<summary>Code pour AEM</summary>
<button class="btn btn-default" onclick="CopyToClipboard('myAEMCode');return false;">Copier le code dans le presse-papiers</button>
<pre class="prettyprint">
<code id="myAEMCode">{{aem_page}}
</code></pre></details>

</section>
<h2>Prototype de la page</h2>

{% include 'page.html' %}
 </div>
