</div>

          </div>

          <!-- CONTENT ENDS HERE -->

          <div class="mwsgeneric-base-html parbase section">

              <div class="row row-no-gutters mrgn-tp-xl">
                  <div class="col-sm-7 col-lg-6">
                      <section class="gc-pg-hlpfl provisional">
                          <div class="well mrgn-bttm-0">
                              <form id="gc-pg-hlpfl-frm" action="https://apps.canada.ca/x-notify/eml/send" method="post" autocomplete="off">
                                  <input type="hidden" name="pageTitle" value="Managing your business">
                                  <input type="hidden" name="submissionPage" value="covid-19-guidance/proto/business/maintaining-your-business.html">
                                  <input type="hidden" name="tid" value="tbs-wasthishelpfulen">
                                  <input type="hidden" name="auke" value="NTQxNzE1OTA3NTgwMDYyOTQ&#x3D;">
                                  <div class="gc-pg-hlpfl-btn">
                                      <div class="row row-no-gutters">
                                          <div class="col-xs-12 col-sm-7 mrgn-tp-sm">
                                              <h2 class="mrgn-tp-sm h5">Did you find what you were looking for?</h2>
                                          </div>
                                          <div class="col-xs-8 col-sm-5 text-right">
                                              <button data-wb5-click="postback@#gc-pg-hlpfl-frm@" type="submit" name="helpful" value="Yes" class="btn btn-primary" data-wb-doaction="[
                          {&quot;action&quot;:&quot;removeClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-thnk&quot;,&quot;class&quot;:&quot;hide&quot;},
                          {&quot;action&quot;:&quot;addClass&quot;,&quot;source&quot;:&quot;#gc-pg-hlpfl-frm&quot;,&quot;class&quot;:&quot;hide&quot;}
                        ]" data-gc-analytics-wtph>Yes</button>
                                              <button type="button" class="btn btn-primary mrgn-lft-sm nojs-hide" data-wb-doaction="[
                          {&quot;action&quot;:&quot;ajax&quot;,&quot;url&quot;:&quot;/content/dam/canada/mws-swg/nohelpful.html&quot;,&quot;container&quot;:&quot;.gc-pg-hlpfl-yes&quot;},
                          {&quot;action&quot;:&quot;removeClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-no&quot;,&quot;class&quot;:&quot;nojs-show&quot;},
                          {&quot;action&quot;:&quot;addClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-btn&quot;,&quot;class&quot;:&quot;hide&quot;}
                        ]" data-gc-analytics-wtph-no>No</button>
                                          </div>
                                      </div>
                                  </div>
                                  <p class="h3 hidden nojs-show">If not, tell us why:</p>
                                  <div class="gc-pg-hlpfl-no nojs-show">
                                      <fieldset>
                                          <legend class="h4 mrgn-tp-0 mrgn-bttm-md">What was wrong?</legend>
                                          <div class="radio">
                                              <label for="problem1">
                      <input name="problem" id="problem1" type="radio"
                        value="The answer I need is missing"
                        data-gc-analytics-wtph-value="The answer I need is missing-La réponse dont j’ai besoin n’est pas là"
                        data-gc-analytics-collect="notPrivate">
                      The answer I need is missing
                    </label>
                                          </div>
                                          <div class="radio">
                                              <label for="problem2">
                      <input name="problem" id="problem2" type="radio"
                        value="The information isn’t clear"
                        data-gc-analytics-wtph-value="The information isn’t clear-L'information n'est pas claire"
                        data-gc-analytics-collect="notPrivate">
                      The information isn’t clear
                    </label>
                                          </div>
                                          <div class="radio">
                                              <label for="problem3">
                      <input name="problem" id="problem3" type="radio"
                        value="I’m not in the right place"
                        data-gc-analytics-wtph-value="I’m not in the right place-Je ne suis pas au bon endroit"
                        data-gc-analytics-collect="notPrivate">
                      I’m not in the right place
                    </label>
                                          </div>
                                          <div class="radio">
                                              <label for="problem4">
                      <input name="problem" id="problem4" type="radio"
                        value="Something is broken or incorrect"
                        data-gc-analytics-wtph-value="Something is broken or incorrect-Quelque chose est brisé ou incorrect"
                        data-gc-analytics-collect="notPrivate">
                      Something is broken or incorrect
                    </label>
                                          </div>
                                          <div class="radio">
                                              <label for="problem5">
                      <input name="problem" id="problem5" type="radio" value="Other reason"
                        data-gc-analytics-wtph-value="Other reason-Autre raison"
                        data-gc-analytics-collect="notPrivate">
                      Other reason
                    </label>
                                          </div>
                                      </fieldset>
                                      <label for="problem6" class="mrgn-bttm-0">Please provide more details</label>
                                      <p class="small">
                                          <strong>(Don’t include any personal information)</strong>
                                          <br>
                                          <span class="small">Maximum 300 characters</span>
                                      </p>
                                      <textarea id="problem6" name="details" class="full-width" maxlength="300"></textarea>
                                      <button data-wb5-click="postback@#gc-pg-hlpfl-frm@" type="submit" name="helpful" value="No" class="btn btn-primary mrgn-tp-md mrgn-bttm-sm" data-wb-doaction="[
                      {&quot;action&quot;:&quot;removeClass&quot;,&quot;source&quot;:&quot;.gc-pg-hlpfl-thnk&quot;,&quot;class&quot;:&quot;hide&quot;},
                      {&quot;action&quot;:&quot;addClass&quot;,&quot;source&quot;:&quot;#gc-pg-hlpfl-frm&quot;,&quot;class&quot;:&quot;hide&quot;}
                    ]" data-gc-analytics-wtph-submit>Submit</button>
                                  </div>
                                  <div class="gc-pg-hlpfl-yes">
                                      <input type="hidden" name="helpful" value="Yes">
                                  </div>
                              </form>
                              <div class="gc-pg-hlpfl-thnk hide">
                                  <p class="h6 mrgn-tp-sm mrgn-bttm-sm"><span class="far fa-check-circle text-success mrgn-rght-sm" aria-hidden="true"></span> Thank you for your feedback</p>
                              </div>
                          </div>
                      </section>
                  </div>
                  <div class="col-sm-3 col-sm-offset-1 col-lg-offset-3">
                      <div class="wb-share" data-wb-share="{&quot;pnlId&quot;:&quot;pnlShrPg&quot;, &quot;lnkClass&quot;: &quot;btn btn-default btn-block mrgn-tp-md&quot;}">
                      </div>
                  </div>
              </div>

              <!--update references-->

          </div>

          <div class="mwsgeneric-base-html parbase section">

              <!--update references-->

              </div>

              <div class="pagedetails">
                  <dl id="wb-dtmd">
                      <dt>Date modified:</dt>
                      <dd><time property="dateModified">2021-11-30</time></dd>
                  </dl>
              </div>
          </div>
  </main>

  <div class="par iparys_inherited">

  </div>

  <div class="par iparys_inherited">

      <div class="global-footer">
          <footer id="wb-info">
              <div class="landscape">
                  <nav class="container wb-navcurr">
                      <h2 class="wb-inv">About government</h2>
                      <ul class="list-unstyled colcount-sm-2 colcount-md-3">

                          <li><a href="http://www.phac-aspc.gc.ca/contac-eng.php">Contact us</a></li>

                          <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a>
                          </li>

                          <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and
                military</a></li>

                          <li><a href="https://www.canada.ca/en/news.html">News</a></li>

                          <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and
                regulations</a></li>

                          <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide
                reporting</a></li>

                          <li><a href="http://pm.gc.ca/en">Prime Minister</a></li>

                          <li><a href="https://www.canada.ca/en/government/system.html">About government</a></li>

                          <li><a href="http://open.canada.ca/en">Open government</a></li>

                      </ul>
                  </nav>
              </div>
              <div class="brand">
                  <div class="container">
                      <div class="row">
                          <nav class="col-md-10 ftr-urlt-lnk">
                              <h2 class="wb-inv">About this site</h2>
                              <ul>

                                  <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>

                                  <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>

                                  <li><a href="https://www.canada.ca/en/government/about.html">About Canada.ca</a>
                                  </li>

                                  <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and
                    conditions</a></li>

                                  <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>

                              </ul>
                          </nav>
                          <div class="col-xs-6 visible-sm visible-xs tofpg">
                              <a href="#wb-cont">Top of page <span class="glyphicon glyphicon-chevron-up"></span></a>
                          </div>
                          <div class="col-xs-6 col-md-2 text-right">
                              <img src="https://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada" />
                          </div>
                      </div>
                  </div>
              </div>
          </footer>

      </div>

  </div>

  <script type="text/javascript">
      _satellite.pageBottom();
  </script>

  <script src="https://test.canada.ca/covid-19-guidance/proto/js/alpha-banner.js"></script>
  <script type="text/javascript" src="https://www.canada.ca/etc/clientlibs/granite/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.canada.ca/etc/clientlibs/granite/utils.min.js"></script>
  <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/clientlib-publish.min.js"></script>

  <!--[if gte IE 9 | !IE ]><!-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
  <!--<![endif]-->

  <!--[if lt IE 9]>
<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->

  <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
</body>

</html>
