
  <main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
  </main>
 </body>
</html><nav class="provisional gc-subway">
 <h1>
  Temporary Foreign Worker Program &ndash; Global Talent Stream
 </h1>
<ul>
<li class="hidden-xs hidden-sm">
 <a href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Overview
 </a>
</li>
<li class="hidden-xs hidden-sm">
 <a href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Requirements
 </a>
</li>
<li class="hidden-xs hidden-sm">
 <a href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Job offers, duties and working conditions
 </a>
</li>
<li class="hidden-xs hidden-sm">
 <a href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Compensation and benefits
 </a>
</li>
<li><a class="active" aria-current="page" href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Labour Market Benefit Plan
 </a>
</li>
<li class="hidden-xs hidden-sm">
 <a href="http://test.canada.ca/service-canada/david/test-david-3.html">
  Apply
 </a>
</li>
</ul>
 </nav>
 <h1 property="name" id="wb-cont" class="gc-thickline">
  Labour&nbsp;Market&nbsp;Benefits Plan
 </h1>
</nav>
<h3>
 On this page&nbsp;
</h3>
<ul>
 <li>
  <a href="#_What_to_include">
   What to include in a LMBP&nbsp;
  </a>
 </li>
 <li>
  <a href="#_Progress_reviews">
   Progress reviews
  </a>
  &nbsp;
 </li>
 <li>
  <a href="#_Making_changes_to">
   Making changes to the LMBP
  </a>
  &nbsp;
 </li>
</ul>
<p>
 A Labour Market Benefits Plan (LMBP) shows an employer&rsquo;s commitment to creating positive impacts on the&nbsp;labour&nbsp;market. To ensure that your LMBP does this, you must work with Service Canada&nbsp;to:&nbsp;
</p>
<ul>
 <li>
  develop activities to meet commitments&nbsp;
 </li>
 <li>
  identify commitments,&nbsp;and&nbsp;
 </li>
 <li>
  track the progress of commitments&nbsp;
 </li>
</ul>
<h2 id="_What_to_include">
 </a>
 What to include in an LMBP&nbsp;
</h2>
<p>
 LMBP commitments are split into two categories:&nbsp;
</p>
<ul>
 <li>
  1 mandatory benefit&nbsp;
 </li>
 <li>
  At least 2 complementary benefits&nbsp;
 </li>
</ul>
<p>
 Service Canada&nbsp;will work with employers to complete the LMBP during the Global Talent Stream (GTS) application process.&nbsp;
</p>
<h3>
 Identify the mandatory benefit&nbsp;
</h3>
<p>
 For&nbsp;the&nbsp;mandatory benefit(s)&nbsp;in their LMBP, every employer under the GTS must identify at least 1 activity that will support their achievement of the benefit.&nbsp;
</p>
<p>
 The employer&nbsp;must&nbsp;also&nbsp;identify at least 2 complementary benefits for which they are committing to achieving as part of their LMBP. The complementary benefits identified by an employer in their&nbsp;plan&nbsp;
<strong>
cannot&nbsp;be the same
</strong>
&nbsp;as the mandatory benefit identified.&nbsp;&nbsp;
</p>
<details>
<summary>
 Category A of the GTS&nbsp;
</summary>
<p>
 Employers must commit to
<strong>
&nbsp;job creation for Canadians and permanent residents
</strong>
&nbsp;as your mandatory benefit. For this benefit, employers will need to track the number of jobs either directly connected to the temporary foreign worker (TFW) hired or the overall job growth within the company.&nbsp;
</p>
<details>
<summary>
 Example:&nbsp;
</summary>
<p>
 Activities to support this benefit could include, but are not limited to:&nbsp;
</p>
<ul>
 <li>
  Hiring additional Canadians and permanent residents to support the foreign worker in their role; and&nbsp;
 </li>
 <li>
  Increasing the number of Canadians or permanent residents employed full-time and part-time by the employer&nbsp;
 </li>
</ul>
</details>
</details>
<details>
<summary>
 Category B of the GTS&nbsp;
</summary>
<p>
 Employers must commit to investments
<strong>
&nbsp;in skills and training for Canadians and permanent residents as your mandatory benefit
</strong>
.&nbsp;&nbsp;
</p>
<details>
<summary>
 Example&nbsp;
</summary>
<p>
 Activities to support this benefit could include, but are not limited to:&nbsp;
</p>
<ul>
 <li>
  Increasing&nbsp;financial&nbsp;investments in internal skills and training.&nbsp;
 </li>
 <li>
  Establishing partnerships with post-secondary institutes or other organizations to support skills and training. For example, providing them with free licenses or access to specialized software that will help build student skills.&nbsp;
 </li>
 <li>
  Providing paid co-op or internship opportunities at the firm, and&nbsp;
 </li>
 <li>
  Participating in work-integrated learning or other federal and provincial skills and training programs.&nbsp;
 </li>
</ul>
</details>
</details>
<h3>
 Identify&nbsp;the&nbsp;complementary&nbsp; benefits&nbsp;
</h3>
<p>
 There are many activities that can support your mandatory benefit and 2 complementary benefits.&nbsp;&nbsp;
</p>
<p>
 Here are some examples of activities for each benefit:&nbsp;
</p>
<details>
<summary>
 Job creation&nbsp;(Category B only)&nbsp;
</summary>
<ul>
 <li>
  Hiring additional Canadians or permanent residents to support the TFW in their role; and&nbsp;&nbsp;
 </li>
 <li>
  Increasing the number of Canadians and permanent residents employed full-time and part-time by the employer&nbsp;&nbsp;
 </li>
</ul>
</details>
<details>
<summary>
 Investments in skills and training&nbsp;(Category A only)&nbsp;
</summary>
<ul>
 <li>
  Establishing or enhancing partnerships with post-secondary institutes or with other organizations that are supporting skills and training. For example, providing post-secondary institutes with free licenses or other access to specialized software that will help to build student skills on key industry tools.&nbsp;
 </li>
 <li>
  Providing paid co-op or internship opportunities for Canadians and permanent residents in your organization&nbsp;
 </li>
 <li>
  Providing direct training to Canadians or permanent residents. For example, this could include supporting employees to travel to and attend industry or industry sector conferences relevant to the development of their specialized skillset.&nbsp;
 </li>
</ul>
</details>
<details>
<summary>
 Increasing diversity in the workplace&nbsp;
</summary>
<p>
 Increase in diversity by developing, implementing, or participating in initiatives that increase the participation of underrepresented groups in the workplace. For example, hosting and/or attending events that support the professional&nbsp;development and/or hiring of underrepresented groups in the&nbsp;labour&nbsp;market and women in high-skilled technical and/or leadership roles at your organization.&nbsp;
</p>
</details>
<details>
<summary>
 Knowledge transfer&nbsp;
</summary>
<p>
 Knowledge transfer by ensuring that the highly skilled TFWs directly&nbsp;train,&nbsp;supervise and/or&nbsp;mentor Canadian workers at the firm to support knowledge transfer.&nbsp;&nbsp;
</p>
</details>
<details>
<summary>
 Enhance company performance&nbsp;
</summary>
<ul>
 <li>
  Increasing growth of revenue, employment, or investment at your organization&nbsp;
 </li>
 <li>
  Developing or improving best company practices or policies related to attraction/retention of Canadian workforce. For example, by supporting code sprints and hackathons to hire new employees&nbsp;&nbsp;
 </li>
</ul>
</details>
<details>
<summary>
 Developing or enhancing local partnerships&nbsp;
</summary>
<p>
 Developing or enhancing partnerships with organizations that assist with the identification of top domestic capital&nbsp;&nbsp;
</p>
</details>
<h3>
 Set target for activity/milestone&nbsp;
</h3>
<p>
 Set a reasonable and measurable target for the activities&nbsp;your organization commits to during the TFWs employment.&nbsp;
</p>
<h2 id="_Progress_reviews">
 </a>
 Progress reviews&nbsp;
</h2>
<p>
 Each year,&nbsp;Service&nbsp;Canada&nbsp;will conduct progress reviews to assess how well employers are meeting the commitments detailed in your LMBP. The annual reviews are employers&rsquo; opportunity to report on the progress that the company is making in creating lasting, positive impacts on the Canadian&nbsp;labour&nbsp;market.&nbsp;
</p>
<p>
 Cooperating with&nbsp; Service Canada&nbsp;throughout the review process is important. Employers must provide&nbsp;supporting documentation&nbsp;to&nbsp;remain eligible. You must keep your records for&nbsp;
<strong>
six full years
</strong>
&nbsp;for audit purposes.&nbsp;
</p>
<details>
<summary>
 If&nbsp;you&nbsp;do not make reasonable efforts to meet your LMBP commitments&nbsp;
</summary>
<p>
 If&nbsp;you&nbsp;do not make reasonable efforts to meet your LMBP commitments, or complete your Progress Review within the requested timeframe, you risk receiving a negative decision on future GTS applications. Your LMBP&rsquo;s assessment will not impact your eligibility to other program streams.&nbsp;
</p>
<p>
 You are accountable for the benefits in your LMBP even if a TFW you hire under the GTS becomes a permanent resident of Canada while working in your organization.&nbsp;
</p>
</details>
<details>
<summary>
 How review dates are determined&nbsp;
</summary>
<p>
 Your first LMBP review will occur&nbsp;approximately&nbsp;1 year after you sign your LMBP.&nbsp;&nbsp;
</p>
<p>
 The review date does not change:&nbsp;
</p>
<ul>
 <li>
  If you&nbsp;make changes or amend your LMBP&nbsp;
 </li>
 <li>
  If you&nbsp;hire additional TFWs&nbsp;
 </li>
 <li>
  When your TFW is issued a work permit&nbsp;
 </li>
</ul>
</details>
<h2 id="_Making_changes_to">
 </a>
 Making changes to the LMBP&nbsp;
</h2>
<p>
 Employers&nbsp;who have&nbsp;an approved LMBP and apply for additional TFW positions&nbsp;through the&nbsp;GTS,&nbsp;&nbsp;will&nbsp;not have to submit a new LMBP, however,&nbsp; Service Canada&nbsp;will review your existing plan as a result.&nbsp;
</p>
<details>
<summary>
 If an employer requires additional TFW&nbsp;positions&nbsp;
</summary>
<p>
 As part of this review, Service Canada&nbsp;may request an update on your commitments to date in the LMBP. We may also request that you amend or expand existing commitments to reflect a request for additional TFWs. This helps to make sure that returning employers to the GTS continue to provide positive lasting benefits for Canadian workers.&nbsp;
</p>
</details>
<h3>
 Forecasting commitments&nbsp;
</h3>
<p>
 If you anticipate the need to apply for additional TFW&nbsp;positions over a 12-month period, the forecasted number of TFW positions&nbsp;may be included&nbsp;in your LMBP, providing&nbsp;the commitments&nbsp;support&nbsp;the anticipated number. If you and Service Canada&nbsp;officials agree to use this model, you may not have to update your LMBP each time you return to the GTS until your forecast is met&nbsp;or your commitments have expired (whichever comes first).&nbsp;&nbsp;
</p>
<section class="alert alert-info">
 <h2>
  Note
 </h2>
 <p>
  This applies only to the LMBP element of the application process. You must still apply each time you wish to access the GTS.&nbsp;
 </p>
</section>