
  <main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
  </main>
 </body>
</html><h1>
 EI regular benefits: Apply
</h1>
<p>
<strong>
From:&nbsp;
</strong>
<a href="https://www.canada.ca/en/employment-social-development.html">
  <strong>
   Employment and Social Development Canada
  </strong>
 </a>
</p>
<div class="mrgn-tp-md mrgn-bttm-lg brdr-bttm">
<div class="row">
<ul class="toc lst-spcd">
<li class="col-md-4">
<a class="list-group-item"  href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit.html">
  1. What these benefits offer
 </a>
</li>
<li class="col-md-4">
<a class="list-group-item"  href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/eligibility.html">
  2. Do you qualify
 </a>
</li>
<li class="col-md-4">
<a class="list-group-item"  href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/benefit-amount.html">
  3. How much you could receive
 </a>
</li>
<li class="col-md-4">
<a class="list-group-item active" 
 <a href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/apply.html">
  4. Apply
 </a>
</li>
<li class="col-md-4">
<a class="list-group-item"  href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/after-applying.html">
  5. After you apply
 </a>
</li>
<li class="col-md-4">
<a class="list-group-item"  href="https://www.canada.ca/en/services/benefits/ei/ei-regular-benefit/while-receiving.html">
  6. While on&nbsp;EI
 </a>
</li></ul>
<h2>
 Gather supporting information
</h2>
<p>
 Make sure you have the following information to complete your Employment Insurance (EI) application:
</p>
<ul>
 <li>
  your social insurance number (SIN)
  <ul>
   <li>
    if your&nbsp;SIN&nbsp;begins with a 9, you need to supply proof of your immigration status and work permit
   </li>
  </ul>
 </li>
 <li>
  the last name at birth of 1 of your parents
 </li>
 <li>
  your mailing and residential addresses,&nbsp;
  <strong>
   including the postal codes
  </strong>
 </li>
 <li>
  your complete banking information to sign up for direct deposit, including:
  <ul>
   <li>
    your financial institution name
   </li>
   <li>
    your bank branch number
   </li>
   <li>
    your account number
   </li>
  </ul>
 </li>
 <li>
  the names, addresses, dates of employment, and reason for separation for all your employers over the last 52 weeks
 </li>
 <li>
  your detailed version of the facts (if you quit or were dismissed from any job in the past 52 weeks)
 </li>
 <li>
  the dates, Sunday to Saturday, and earnings for each of your highest paid weeks of insurable earnings
  <sup>
   <a href="#endnote-1" id="endnote-ref-1">
    [1]
   </a>
  </sup>
  in the last 52 weeks or since the start of your last&nbsp;EI&nbsp;claim, whichever is the shorter period
  <ul>
   <li>
    this information will be used, along with your record(s) of employment (ROE), to calculate your benefit rate
   </li>
  </ul>
 </li>
</ul>
<p>
 You may also have to provide the following details if you&rsquo;re reactivating an existing claim:
</p>
<ul>
 <li>
  the salary amount you received, before deductions, for the last week you worked (from Sunday to your last day of work), including insurable tips and commissions
 </li>
 <li>
  any other amount you received or will receive, such as:
  <ul>
   <li>
    vacation pay
   </li>
   <li>
    severance pay
   </li>
   <li>
    pension payments
   </li>
   <li>
    pay in lieu of notice
   </li>
   <li>
    other money
   </li>
  </ul>
 </li>
</ul>
<p>
 When you apply for&nbsp;EI&nbsp;benefits, be sure to&nbsp;
<strong>
sign up for&nbsp;
</strong>
<a href="https://www.canada.ca/en/employment-social-development/programs/direct-deposit.html">
  direct deposit</a> &nbsp;to get your payments deposited automatically into your bank account 2 business days after we process your&nbsp;
 <a href="https://www.canada.ca/en/services/benefits/ei/employment-insurance-reporting.html">
  EI&nbsp;report</a> .
</p>
<p>
 If you don&rsquo;t sign up for direct deposit at \t the time you complete your&nbsp;EI&nbsp;application, you can sign up any time after you apply through&nbsp;
 <a href="http://www.servicecanada.gc.ca/eng/online/mysca.shtml">
  My Service Canada Account</a> &nbsp;(MSCA).
</p>
<h2>
 Complete the online application
</h2>
<p>
 To find out if you&rsquo;re eligible to receive&nbsp;EI&nbsp;regular benefits, you must submit an application online. The online application takes about 1 hour to complete.
</p>
<p>
 If you don't complete the application all at once, you can come back to it later using the temporary password that you receive when you start.
</p>
<p>
 Your information is saved for 72 hours (3 days) from the time you start. If you don't submit the application within this time:
</p>
<ul>
 <li>
  it will be deleted, and
 </li>
 <li>
  you'll have to start a new application
 </li>
</ul>
<p>
 When you apply for&nbsp;EI&nbsp;benefits, you&rsquo;ll be asked for your email address. If we need more information about your claim and can&rsquo;t reach you by phone, we&rsquo;ll send you a toll-free number in an email, asking you to call us.
</p>
<p>
 If you started a new&nbsp;EI&nbsp;claim within the last 52 weeks and there are still weeks payable on that claim,&nbsp;
<strong>
we&rsquo;ll automatically reactivate (renew) your existing claim when you submit your application
</strong>
.
</p>
<p>
 In some cases, it may be to your advantage to cancel or end your old claim and start a new claim, because this may increase the amount of your benefits or the length of your benefit period.
</p>
<p>
 It is important to consider:
</p>
<ul>
 <li>
  if your claim is reactivated and you work after the start of that claim, you may be able to establish a new claim when your existing claim runs out
 </li>
 <li>
  in order to establish a new claim you must have enough insurable hours and meet the qualifying conditions for a new claim
 </li>
 <li>
  if a new claim is established instead of reactivating your existing claim, the remaining weeks payable on the existing claim will be lost
 </li>
 <li>
  additionally, a 1-week unpaid waiting period must be served on a new claim before you&rsquo;re entitled to receive payment
 </li>
</ul>
<a class="btn btn-call-to-action" href="https://www.test.com">
  Start application
 </a>
<h2>
 Provide supporting information
</h2>
<h3>
 Records of employment
</h3>
<p>
 Employers issue&nbsp;ROEs&nbsp; to provide information about your work history. We use the information to determine:
</p>
<ul>
 <li>
  whether you're eligible to receive&nbsp;EI&nbsp;benefits
 </li>
 <li>
  how much you'll receive
 </li>
</ul>
<p>
 You can visit&nbsp;MSCA&nbsp;to view&nbsp;ROEs&nbsp; that have been issued for you by past and recent employers.
</p>
<details>
<summary>
 Electronic&nbsp;ROEs
</summary>
<p>
 Electronic&nbsp;ROEs&nbsp; are sent directly to Service Canada by your employer. You don't need to request copies from your employer to provide to us.
</p>
</details>
<details>
<summary>
 Paper&nbsp;ROEs&nbsp;
</summary>
<p>
 If your employer issues paper&nbsp;ROEs&nbsp;, you must request copies of all&nbsp;ROEs&nbsp; issued for you in the past 52 weeks or since the start of your last claim, whichever is shorter. You'll need to provide them to us as soon as possible after you submit your&nbsp;EI&nbsp;application. You can&nbsp;
 <a href="https://www.canada.ca/en/employment-social-development/corporate/contact/ei-individual.html">
  mail them</a> &nbsp;or drop them off at a&nbsp;
 <a href="http://www.servicecanada.gc.ca/tbsc-fsco/sc-hme.jsp?lang=eng">
  Service Canada Centre</a> .
</p>
</details>
<h2>
 A benefit statement and access code will arrive by mail
</h2>
<p>
 Once your application is received, we'll mail you a benefit statement with a 4-digit access code. You&rsquo;ll need this code and your&nbsp;SIN&nbsp;to follow up on your application. Receiving an&nbsp;EI&nbsp;benefit statement doesn't mean that we've made a decision about your claim.
</p>
<h2>
 Check the status of your application
</h2>
<p>
 To check the status of your application, you can:
</p>
<ul>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/services/my-account.html">
   sign into&nbsp;MSCA
  </a>
 </li>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/corporate/contact/ei-individual.html">
   contact Service Canada
  </a>
 </li>
</ul>
<p>
 If you&rsquo;re not registered with&nbsp;MSCA, you can create an account when you receive your benefit statement and access code.
</p>
<h2>
 Related links
</h2>
<ul>
 <li>
  <a href="https://www.canada.ca/en/services/benefits/ei/employment-insurance-reporting.html">
   Submitting&nbsp;EI&nbsp;reports
  </a>
 </li>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/programs/ei/ei-list/reports/regular-checklist.html">
   Your Employment Insurance regular benefits application - checklist
  </a>
 </li>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/services/my-account.html">
   My Service Canada Account
  </a>
 </li>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/programs/direct-deposit.html">
   Direct deposit
  </a>
 </li>
 <li>
  <a href="http://www.canadabenefits.gc.ca/f.1.2c.6.3zardq.5esti.4ns@.jsp?lang=eng">
   Benefits finder
  </a>
 </li>
 <li>
  <a href="https://www.canada.ca/en/services/jobs/opportunities.html">
   Finding a job
  </a>
 </li>
</ul>
<h2>
 Contact us
</h2>
<ul>
 <li>
  <a href="https://www.canada.ca/en/employment-social-development/corporate/contact/ei-individual.html">
   Contact&nbsp;EI&nbsp;- individual for help
  </a>
 </li>
</ul>
<h2>
 Footnotes
</h2>
<ol>
 <li id="endnote-1">
  <p>
   <strong>
    Insurable earnings
   </strong>
   &nbsp;&ndash; The income earned on which&nbsp;EI&nbsp;premiums were paid. It&rsquo;s used to calculate the weekly benefit rate to which you&rsquo;re entitled.
   <a href="#endnote-ref-1">
    \u2191
   </a>
  </p>
 </li>
</ol>