
  <main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
  </main>
 </body>
</html><h1>
 Basic template
</h1>
<p>
 This is the start of the actual content
</p>
<h2 class="h3">
 On this page
</h2>
<ul>
 <li>
  <a href="#_Basic_formatting">
   Basic formatting
  </a>
 </li>
 <li>
  <a href="#_Bullet_list">
   Bullet list
  </a>
 </li>
 <li>
  <a href="#_Expand-collapse">
   Expand collapse
  </a>
 </li>
 <li>
  <a href="#_Buttons">
   Buttons
  </a>
 </li>
 <li>
  <a href="#_Alerts">
   Alerts
  </a>
 </li>
 <li>
  <a href="#_Tables">
   Tables
  </a>
 </li>
 <li>
  <a href="#_Labels">
   Labels
  </a>
 </li>
</ul>
<h2 id="_Basic_formatting"> Basic formatting
</h2>
<p>
 This text is in&nbsp;
<strong>
bold
</strong>
.
</p>
<p>
 This is the&nbsp;
 <cite>
  cite tag
 </cite>
 , used for things such as referencing an act with its official name like the&nbsp;
 <cite>
  Employment Insurance Act
 </cite>
 .
</p>
<p>
 This is a simple&nbsp;
 <a href="https://test.canada.ca/service-canada/templates/template-basic-en.html">
  hyperlink to something else</a> , and a&nbsp;
 <a href="mailto:email@example.com">
  email link</a> .
</p>
<h2 id="_Bullet_list"> Bullet list
</h2>
<h3>
 Unordered list
</h3>
<ul>
 <li>
  item 1
 </li>
 <li>
  item 2
 </li>
</ul>
<h3>
 Ordered list
</h3>
<ol>
 <li>
  item 1
 </li>
 <li>
  item 2
 </li>
</ol>
<h2 id="_Expand-collapse"> Expand-collapse
</h2>
<h3>
 Single expand-collapse
</h3>
<details>
<summary>
 Summary of the item
</summary>
<p>
 Include any code in the hidden section before you close the details tag
</p>
</details>
<h3>
 Multiple expand-collapses in a list
</h3>
<details>
<summary>
 Item 1
</summary>
<p>
 Content for item 1.
</p>
<p>
 I also want to add a:
</p>
<button class="btn btn-call-to-action">
 Call to action
</button>
</details>
<details>
<summary>
 Item 2
</summary>
<p>
 I want a bullet list in that expand-collapse:
</p>
<ul>
 <li>
  bullet 1
 </li>
 <li>
  bullet 2
 </li>
 <li>
  bullet 3
 </li>
</ul>
</details>
<details>
<summary>
 Item 3
</summary>
<p>
 For this one, I want an expand-collapse within an expand-collapse:
</p>
<details>
<summary>
 Nested collapse
</summary>
<section class="alert alert-warning">
 <h2>
  Very important warning
 </h2>
 <p>
  You need to see this!
 </p>
</section>
</details>
</details>
<h2 id="_Buttons"> Buttons
</h2>
<button class="btn btn-call-to-action">
 Super-task button
</button>
<button class="btn btn-primary">
 Primary button
</button>
<button class="btn btn-default">
 Secondary button
</button>
<button class="btn btn-danger">
 Danger button
</button>
<h2 id="_Alerts"> Alerts
</h2>
<section class="alert alert-danger">
 <h2>
  Danger alert
 </h2>
 <p>
  For dangerous situations or technical issues
 </p>
</section>
<section class="alert alert-warning">
 <h2>
  Warning alert
 </h2>
 <p>
  To warn people of consequences of actions or inactions
 </p>
</section>
<section class="alert alert-info">
 <h2>
  Info alert
 </h2>
 <p>
  To draw attention to a clarification
 </p>
</section>
<section class="alert alert-success">
 <h2>
  Success alert
 </h2>
 <p>
  To draw attention to a successful action, like confirming a submission
 </p>
</section>
<h2 id="_Tables"> Tables
</h2>
<table class="provisional gc-table table" id="myTable1">
 <tr>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
 </tr>
 <tr>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
  <td>
   <p>
    Lorem ipsum
   </p>
  </td>
 </tr>
</table>
<h2 id="_Labels"> Labels
</h2>
<span class="label label-default">
 Default
</span>
<span class="label label-primary">
 Primary
</span>
<span class="label label-success">
 Success
</span>
<span class="label label-info">
 Information
</span>
<span class="label label-warning">
 Warning
</span>
<span class="label label-danger">
 Danger
</span>
<h2>
 Checkboxes
</h2>
<ul>
 <li>
  checkbox 1
 </li>
 <li>
  checkbox 2
 </li>
 <li>
  checkbox 3
 </li>
</ul>